<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-left" size="12">
        <ion-img class="logo" src="./assets/svg/logo-tc.svg"> </ion-img>
      </ion-col>
      <ion-col class="ion-text-center" size="12" *ngIf="newAccount == '1'">
        <h3 class="titulo-paso" translate>PASO_3</h3>
        <p class="texto-paso" translate>PASO_3_INFO</p>
      </ion-col>
      <ion-col class="ion-text-center" size="12" *ngIf="newAccount != '1'">
        <h3 class="titulo-paso" translate>PASO_4</h3>
        <p class="texto-paso" *ngIf="newAccount == '2'" translate>PASO_4_KEEP</p>
        <p class="texto-paso" *ngIf="newAccount == '2'" translate>PASO_4_KEEP02</p>
        <p class="texto-paso" *ngIf="newAccount == '3'" translate>PASO_4_ADD</p>
        <p class="texto-paso" *ngIf="newAccount == '3'" translate>PASO_4_ADD02</p>
      </ion-col>
      <ion-col size="12">
        <p class="texto-email" *ngIf="newAccount == '2'">{{resultEmail}}</p>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="fixed" translate>CORREO_</ion-label>
          <ion-input [(ngModel)]="email"  placeholder="" type="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="invalidEmail == '1' && newAccount == '2'">
          <ion-label position="stacked" class="error-text" translate>CORREO_INVALIDO</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-button #very color="primary" expand="block" class="ion-text-uppercase" (click)="SendCode()" translate>
          ENVIAR_CODIGO_EMAIL
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>