.logo{
  height: 70px;
  margin: auto;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}
.titulo-paso{
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #34A8FC;
  margin-top: 50px;
}
.texto-paso{
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: var(--ion-text-color);
}
.input-code{
  text-align: left !important;
  font-size: 30px;
  --padding-start: 80px !important;
  --padding-end: 80px !important;
}
.contenedor-mascara{
  position: relative;
  width: 100%;
  height: 80px;
}
::ng-deep ion-input{
  --padding-end: 0px !important;
}
.otp-box{
  margin-top: 23px;
  margin-right: 5px;
  h2{
      margin: 0;
      font-size: 12px;
      color: #b6b6be;
  }
  ion-input{
      // text-align: center;
      border: 2px solid #34A8FC;
      border-radius: 5px;
      margin-top: 8px;
      font-size: 28px;
      padding: 3px !important;
      padding-left: 3px !important;
      color: var(--ion-text-color);
      font-weight: 600;
      --padding-start: 0;
  }
  &:last-child{
      margin-top: 23px;
      margin-right: 0px;
  }
}
