
.img-profile{
  margin:auto;
  margin-top: 15px;
  height: 90px;
}

.img-action{
  height: 31px;
  display: inline-block;
  margin-top:3px;
}

.img-action-pic{
  height: 31px;
  display: inline-block;
  margin-top:3px;
  position: relative;
  right: 25px;
}

.img-action-profile{
  height: 31px;
  display: inline-block;
  margin-top:3px;
  position: relative;
  bottom: 33px;
  right: -35px;
}

.cont-img-profile{
  width: 80px;
  margin:auto;
  position: relative;
}
.image-center{
  width: 100%;
  text-align: center;
}
.profile-pic{
  border-radius: 100px!important;
  width: 100px;
  max-width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 15px;
}
.profile-avatar{
  font-size: 100px;
  color: #092e66;
  height: 100px;
  width: 100px;
}
.header-route{
  height: 33px;
}