<ng-container *ngIf="result$ | async"></ng-container>
<ng-container *ngIf="runWS$ | async"></ng-container>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="assets/svg/home-tc.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab2" (click)="messages=0">
      <ion-badge class="badge-messages" *ngIf="messages==1">*</ion-badge>
      <ion-icon src="assets/svg/calendar-tc.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon src="assets/svg/favorites2-tc.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon src="assets/svg/onHold.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon src="assets/svg/user-tc.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
