<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary" class="title-pages ion-text-uppercase" translate>
      MIS_CITAS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="Appos$ | async"></ng-container>
<ion-content [fullscreen]="true" color="light" *ngIf="!cargando">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button mode="ios" expand="block" [color]="newAppo" fill="outline" (click)="loadAppointments(0)">New</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button mode="ios" expand="block" [color]="oldAppo" fill="outline" (click)="loadAppointments(1)">Old</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ng-container *ngIf="CancelAppo$ | async"></ng-container>
      <ng-container *ngIf="result$ | async"></ng-container>
      <ng-container *ngIf="display == 1">
        <ion-col size="12" *ngFor="let row of results">
          <ion-text color="primary">
            <h2 class="title-card-date ion-text-uppercase">{{row.DateAppo | date:'MMM d, y'}}</h2>
          </ion-text>
          <ion-card class="card-date" *ngFor="let appo of row.Values">
            <ion-grid>
              <ion-row (click)="sendParams(appo)" [routerLink]="['/cita']">
                <ion-col size="8">
                  <ion-text>
                    <h3 class="title-place-com">{{appo.NameBusiness}}</h3>
                  </ion-text>
                </ion-col>
                <ion-col size="4" class="ion-text-end">
                  <ion-icon *ngIf="appo.Disability == 1" class="icon-meta" src="assets/svg/elder-tc.svg"></ion-icon>
                  <ion-icon *ngIf="appo.Disability == 3" class="icon-meta" src="assets/svg/handicap-tc.svg"></ion-icon>
                  <ion-icon *ngIf="appo.Disability == 2" class="icon-meta" src="assets/svg/pregnant-tc.svg"></ion-icon>
                  <ion-icon class="icon-meta" src="assets/svg/human-tc.svg"></ion-icon>
                  <ion-text>
                    x {{appo.PeopleQty}}
                  </ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-text>
                    <h4 class="title-place-suc">{{appo.Name}}</h4>
                    <h4 class="title-place-suc">{{appo.Address}}</h4>
                    <h4 class="title-place-suc">{{(+appo.DateAppo.substring(11, 13) > 12 ? (+appo.DateAppo.substring(11, 13)-12 | number: '2.')+':00 PM' : (+appo.DateAppo.substring(11, 13) == 12 ?  appo.DateAppo.substring(11, 13)+':00 PM' : appo.DateAppo.substring(11, 13)+':00 AM'))}}</h4>
                    <h5 *ngIf="appo.Status > 1" [ngClass]="{'completed': appo.Status > 2 && appo.Status < 5, 'process': appo.Status === 2, 'cancelappo': appo.Status === 5}">{{appo.Status == 2 ? textPrecheck : (appo.Status == 5 ? textCancel : textCompleted)}}</h5>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="selectedTab==0">
                <ion-col size="12" class="ion-text-end">
                  <ion-button *ngIf="connection == 1" class="button-citas" fill="clear" size="small" (click)="sendParams(appo)"
                    [routerLink]="['/mensajes']">
                    <ion-icon slot="icon-only" src="assets/svg/sms-tc.svg"></ion-icon>
                    <span class="messages" *ngIf="appo.UnRead == 'U'">
                      <ion-icon src="./assets/svg/notificacion-tc.svg"></ion-icon>
                    </span>
                  </ion-button>
                  <ion-button *ngIf="connection == 1 && appo.Status == 1" fill="clear" size="small" (click)="onCancel(appo)">
                    <ion-icon slot="icon-only" src="assets/svg/close-tc.svg"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear" size="small" (click)="sendParams(appo)" [routerLink]="['/cita']">
                    <ion-icon slot="icon-only" src="assets/svg/expand-tc.svg"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <hr class="divisor" />
        </ion-col>
      </ng-container>
      <ng-container *ngIf="display == 0">
        <ion-col>
          <p color="medium" class="ion-text-center ion-padding" translate>APPOS_EMPTY</p>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="display == -1">
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content [fullscreen]="true" color="light" *ngIf="cargando">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2 class="title-card-date ion-text-uppercase">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-card class="card-date">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="width: 300px;">
          <h3 class="title-place-com">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h5 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h5>
        </ion-label>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="card-date">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="width: 300px;">
          <h3 class="title-place-com">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h5 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h5>
        </ion-label>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="card-date">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="width: 300px;">
          <h3 class="title-place-com">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h5 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h5>
        </ion-label>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="card-date">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="width: 300px;">
          <h3 class="title-place-com">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h5 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h5>
        </ion-label>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="card-date">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="width: 300px;">
          <h3 class="title-place-com">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h5 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h5>
        </ion-label>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="card-date">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="width: 300px;">
          <h3 class="title-place-com">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h4 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h4>
          <h5 class="title-place-suc">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h5>
        </ion-label>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
