<ion-header [translucent]="true" mode="ios" *ngIf="global.Categories">
    <ion-toolbar>
        <ion-grid class="where-style">
            <ion-row>
                <ion-col size="6">
                    <ion-chip *ngIf="global.Where != ''" class="chip-filter">
                        <ion-label class="label-wrap">{{global.WhereLabel}}</ion-label>
                        <ion-icon src="./assets/svg/quitar-tc.svg" (click)="global.Where=''"></ion-icon>
                    </ion-chip>
                    <ion-button *ngIf="global.Where == ''" mode="ios" expand="block" color="primary" fill="solid" class="tool-button"
                        [routerLink]="['/donde']">{{ 'DONDE' | translate }}</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-chip *ngIf="global.When != ''" class="chip-filter">
                        <ion-label class="label-wrap">{{global.When | date:'MMM d, y'}}</ion-label>
                        <ion-icon src="./assets/svg/quitar-tc.svg" (click)="global.When=''"></ion-icon>
                    </ion-chip>
                    <ion-button *ngIf="global.When == ''" mode="ios" expand="block" color="primary" fill="solid" class="tool-button"
                        [routerLink]="['/cuando']">{{ 'CUANDO' | translate }}</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-searchbar class="search-style" #searchText (ionInput)="cancelSearch(1)"
                        (ionChange)="searchResult($event)" debounce="500" (ionClear)="cancelSearch(0)" (ionCancel)="cancelSearch(0)" mode="md"
                        animated showCancelButton="focus" searchIcon="search-sharp" placeholder="{{termino}}">
                    </ion-searchbar>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content color="" no-padding *ngIf="global.Categories">
    <!-- <ion-grid>
        <ion-row>
            <ion-col>
                <ion-searchbar class="search-style" (ionInput)="isSearchBarOpened=1" (ionChange)="searchResult($event)" debounce="500" (ionCancel)="isSearchBarOpened=0" mode="md" animated showCancelButton="focus" searchIcon="search-sharp" placeholder="{{termino}}"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <div *ngIf="isSearchBarOpened==0">
        <ion-slides pager class="ads-slide">
            <ion-slide *ngFor="let item of (Ads) " [id]="item.AdsId">
                <ion-img [src]="global.BucketPath+item.ImgPath"></ion-img>
            </ion-slide>
        </ion-slides>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-text class="title-feat-com">
                        <h2 class="title-modules">{{ 'COMERCIO_DESTACADO' | translate }}</h2>
                    </ion-text>
                    <ion-slides pager class="comercios-destacados" [options]="slideOptsOne">
                        <ion-slide *ngFor="let item of (PremiumBussines) " [id]="item.BusinessId">
                            <ion-card class="card-com-featured" [routerLink]="['/comercio/' + item.BusinessId]">
                                <ion-img class="img-destacada" [src]="global.BucketPath+item.ImgPath"></ion-img>
                                <ion-card-header class="header-card-featured-com">
                                    <ion-card-title class="card-title"> {{item.Name}}</ion-card-title>
                                    <ion-card-subtitle class="card-subtitle">{{item.Description}}</ion-card-subtitle>
                                </ion-card-header>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-text>
                        <h2 class="title-modules">{{ 'CATEGORIAS' | translate }}</h2>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="box-cat" *ngFor=" let item of global.Categories | slice:0:6;  let i=index" size="4"
                    [id]="item.CategoryId" (click)="onCategory(item.CategoryId, item.Name)"
                    [routerLink]="['/categorias-detalle']">
                    <ion-img class="img-cat-home" [src]="global.BucketPath+item.Imagen"></ion-img>
                    <ion-text>
                        <h3 class="title-category">{{item.Name}}</h3>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="col-main-cat">
                    <ion-button class="main-cat" color="secondary" expand="block" strong="false"
                        [routerLink]="['/categorias']">
                        {{ 'VER_TODAS' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngIf="isSearchBarOpened==1">
        <ion-grid>
            <ion-row>
                <ion-col size="12" *ngIf="dataSearch!=''">
                    <ion-text class="show-results" color="primary" [translate]="'RESULTADOS_PARA'"
                        [translateParams]="{value: dataSearch}">

                    </ion-text>
                </ion-col>
                <ion-col size="12">
                    <ion-list>
                        <ion-item
                            (click)="listResult(item.fields.pkid[0], item.fields.skid[0], item.fields.name_esp[0], item.fields.name_eng[0])"
                            lines="none" class="card-item" *ngFor="let item of result$ | async;">
                            <ion-img *ngIf="item.fields.pkid[0].substring(0,3) == 'CAT'" slot="start"
                                [src]="global.BucketPath+'/app/img/cats/'+item.fields.pkid[0].replace('CAT#','')+'.svg'"
                                class="icon-cat"></ion-img>
                            <ion-label>
                                <h2
                                    [innerHTML]="(global.Language == 'es' ? item.fields.name_esp[0] : item.fields.name_eng[0]) | highlight:dataSearch">
                                </h2>
                                <span class="text-tags"
                                    [innerHTML]="(item.fields.tags != undefined ? item.fields.tags[0] : '') | highlight:dataSearch"></span>
                            </ion-label>
                            <ion-img slot="end" src="./assets/svg/chevron-right-tc.svg"></ion-img>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngIf="dispEnv > -1">
        <ion-grid class="">
            <ion-row class="">
                <ion-col size="6">
                    <ion-button fill="outline" expand="block" [ngClass]="{'prod-on': envApps === 0, 'prod-off': envApps === 1}" (click)="onEnvironment(0)">PRO</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button fill="outline" expand="block" [ngClass]="{'prod-off': envApps === 0, 'prod-on': envApps === 1}" (click)="onEnvironment(1)">DEV</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="disp-version">
        <ion-grid class="">
            <ion-row class="">
                <ion-col size="12">
                    <ion-label class="build-version">Version: 1.2.9</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<!--<ion-content *ngIf="global.Categories == undefined">
    <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title color="primary" class="title-pages" translate>
              SIN_CONEXION_A_INTERNET
          </ion-title>
        </ion-toolbar>
      </ion-header>
</ion-content>-->