<ion-header [translucent]="true" *ngIf="conection == 0" mode="ios">
  <ion-toolbar>
    <ion-title color="primary" class="title-pages ion-text-uppercase" translate>
      MIS_FAVORITOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light" *ngIf="conection == 0">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p color="medium" *ngIf="fav == -1" class="ion-text-center ion-padding" translate></p>
        <p color="medium" *ngIf="fav == 0" class="ion-text-center ion-padding" translate>SIN_FAVORITOS</p>
        <ng-container *ngIf="DelFavorite$ | async"></ng-container>
        <ion-card *ngFor="let item of Favorites$ | async" class="card-com-featured" (click)="onParams(item.Locations, item)" [routerLink]="['/comercio-localidad']">
          <ion-card-header class="header-card-featured-com">
            <ion-img class="img-display" [src]="global.BucketPath+item.Imagen"></ion-img>
            <ion-img class="set-favorite" src="/assets/svg/favorite-circle-tc.svg"
              (click)="DeleteFavorite(item.LocationId)"></ion-img>
            <ion-card-title class="card-title">
              {{item.Name}}
              <h5 class="location-name">{{item.Locations.Name}}</h5>
            </ion-card-title>
            <ion-card-subtitle mode="md" color="primary" class="card-subtitle card-subtitle-2">{{item.Location + ', ' + (lan == 'EN' ? item.Locations.City_ENG : item.Locations.City_ESP)}}
            </ion-card-subtitle>
            <!-- <ion-card-subtitle mode="md" class="card-subtitle">{{item.ShortDescription}}</ion-card-subtitle> -->
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="conection == 1">
  <ion-header [translucent]="true" mode="ios">
      <ion-toolbar>
        <ion-title color="primary" class="title-pages">
          NO INTERNET CONECTION
        </ion-title>
      </ion-toolbar>
    </ion-header>
</ion-content>
