.logo{
  // height: 70px;
  // margin: auto;
  // margin-top: 30px;
  // width: auto !important;
  // align-items: center;
  height: 70px;
  margin: auto;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

.titulo-paso{
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #34A8FC;
  margin-top: 50px;
}

.texto-paso{
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: var(--ion-text-color);
}

.input-telefono{
  font-size: 26px;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
}
ion-select{
  font-size: 26px;
}
.right-align{
  text-align: right;
}
::ng-deep .alert-radio-label{
  font-size: unset;
  font-size: 22px !important;
}
.hidde-name{
  display: none;
}