/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

/* SEARCH */
.searchbar-input{
  background: #F9F8F8 !important;
  border-radius: 2px !important;
  border: 1px solid #34A8FC !important;
  box-shadow: none !important;
  font-size: 12px !important;
}

.searchbar-search-icon{
  position:relative;
  width: 25px !important;
  height: 25px !important;
}

.sc-ion-searchbar-ios{
  height: 35px;
  background:red;
}

.searchbar-search-icon:after{
  position:absolute;
  content: '';
  display: block;
  width: 60px;
  height: 90px;
  background: #F9F8F8;
  background-image: url('./assets/svg/zoom-tc.svg');
  background-repeat: no-repeat;
  top:0;
  left:0;
}

.searchbar-clear-icon,
.searchbar-cancel-button{
  color: #F64D02 !important;
}

/* SLIDER */
.swiper-pagination-bullet{
  background: transparent !important;
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  background: #000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: transparent !important;
  border: 2px solid #ffffff;
  width: 15px;
  height: 15px;
  background: #000;
  opacity: 1;
}

.comercios-destacados{
  position:relative;
  padding-top: 25px;
  margin-top:20px;
}

.title-feat-com{
  position: absolute;
  top: 25px;

}

.comercios-destacados .swiper-pagination-bullet{
  border: 1px solid #898989 !important;
}

.comercios-destacados .swiper-pagination-bullet-active {
  border: 1px solid #F64D03 !important;
}

.comercios-destacados .swiper-pagination-bullets{
  position: absolute;
  top: 0;
  height: 16px;
  text-align: right;
}

.divisor {
  height: 1px !important;
  width: 100% !important;
  background: #e2e2e2 !important;
  display: block !important;
  margin: 20px 0px 20px;
}

/* PAGES TITLES */
.title-pages{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.title-pages-w-back{
  padding: 0px;
  line-height: 52px;
}

/* FILTROS  CABECERA */

.label-wrap{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chip-filter{
  background: #f4f4f4;
  color: #F64D03;
  width: 100%;
  height: 45px;
  margin: 4px 0px;
  border-radius: 0;
}

/* RESULTADOS DE BUSQUEDA */
.show-results{
  width: calc(100% - 20px);
  display: block;
  margin:0px 10px;
  border-bottom: 1px solid #F64D03;
}

.picker-col{
  max-width: 85px !important;
  min-width: 80px !important;
}

.picker-opts { 
  max-width: 85px !important; 
}