.logo{
    height: 70px;
    margin: auto;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}
  
.titulo-paso{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #34A8FC;
    margin-top: 50px;
}
  
.text-account{
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    position: absolute;
}
  
.texto-paso{
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
  
.input-code{
    text-align: left !important;
    color: transparent;
    background: transparent;
}
  